{% extends "_layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<style>
    svg#graphContainer {
        max-width: none !important;
    }
</style>

<textarea hidden id="txt-thread-json"></textarea>

<div class="row" id="graphitti-start">
    <div class="d-flex flex-column justify-content-center align-items-center" style="min-height: 80vh;">
        <img src="{{ url_for('static', filename='img/icon_2.svg') }}" alt="Graphitti Logo" style="width: 200px;">
        <h1>Graphitti</h1>
        <p>To start open a python file with your graph</p>
    </div>
</div>

<div class="row" id="graphitti" hidden>
    <div class="col-md-8 bg-body-tertiary" id="graph-viewer">

        <div class="text-center" id="graphContainer">
            <!--Here the graph will be rendered-->
        </div>

        <div style="position: absolute; bottom: 0; width:100%" id="input-zone" class="frosted">
            <div class="text-end me-5">
                <!-- <button class="btn btn-light" type="button" id="btn-invoke"><i class="fa-regular fa-circle-play"></i> Add input</button> -->
                <button class="btn btn-outline-primary" type="button" id="btn-invoke">
                    <i class="fa-regular fa-circle-play"></i> Execute Graph
                </button>
            </div>

            <div class="ms-5 me-5 mb-3 mt-2">
                <input type="text" class="form-control" id="txt-message" placeholder="Enter a message">
            </div>
        </div>

    </div>
    <div class="col-md-4 p-3" style="overflow-y: auto;" id="div-thread">
        <h5><i class="fa-solid fa-code-branch"></i> <b>Thread:</b> <small id="thread-id" data-id=""></small></h5>
        <div id="graph-execution">
            <!--Here the graph execution will be rendered-->
            </div>
    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/mermaid.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/graphitti.js') }}"></script>
<script src="{{ url_for('static', filename='js/copier.js') }}"></script>
<script src="{{ url_for('static', filename='js/json-downloader.js') }}"></script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>

<script>
    var window_height = $(window).outerHeight(),
        nav_height = $("nav").outerHeight(),
        input_div_size = $("#input-zone").outerHeight(),
        graph_viewer_height = window_height - nav_height - input_div_size;
    $("#graph-viewer").css("min-height", graph_viewer_height);
    $("#div-thread").css("max-height", graph_viewer_height);
    let graph_viewer_width = $("#graph-viewer").width();
    $("#input-zone").css("max-width", graph_viewer_width);

    window.addEventListener('resize', function () {
        window_height = $(window).outerHeight(),
            nav_height = $("nav").outerHeight(),
            input_div_size = $("#input-zone").outerHeight(),
            graph_viewer_height = window_height - nav_height;
        $("#graph-viewer").css("min-height", graph_viewer_height);
        $("#div-thread").css("max-height", graph_viewer_height);
        $(`#graphContainer svg`).css('max-width', 'none').css('max-height', graph_viewer_height - input_div_size);
        $("#input-zone").css("max-width", $("#graph-viewer").width());
    });
</script>
{% endblock %}